asgiref==3.11.0
diff-match-patch==20241021
dj-database-url==3.1.0
Django==5.2.11
django-bootstrap5==26.1
django-filter==25.2
django-import-export==4.4.0
gunicorn==25.0.3
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
psycopg2-binary==2.9.11
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.11.1
python-dotenv==1.2.1
sqlparse==0.5.4
tablib==3.9.0
whitenoise==6.11.0
