{% extends 'tracker/base.html' %}

{% block page_header %}
    <h2>Transactions:</h2>
{% endblock page_header %}


{% block content %}   
    
    <form method="GET" class="row row-cols-lg-auto g-3 align-items-center mb-4">
        {% for fields in filter.form %}
            <div class="col-12">
                {{ fields }}
            </div>
        {% endfor %}
        <div class="col-12">    
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>            
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Store</th>
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.store }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.get_category_display }}</td>
                <td><a class="btn btn-primary" href="{% url 'tracker:transaction' transaction.id %}">View Details</a></td>
                <td><a class="btn btn-danger" href="{% url 'tracker:delete_transaction' transaction.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex gap-2 justify-content-center align-items-center">
        <a class="btn btn-success mb-4" href="{% url 'tracker:add_transaction' %}">Add transaction</a>
        
    </div>
    <h2>Total (all categories): {{ total_spent_all }}</h2>
    <hr>
    <h2>Total (filtered): {{ total_spent_filtered }}</h2>
    <hr>
    <h2>Balance: {{ balance }}</h2>

    <h3>
        Spending chart
        {% if month_name %}
        - {{ month_name }} {{ selected_year }}
        {% endif %} 
        
    </h3>

    <canvas id="spendingChart" width="400" height="200"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('spendingChart').getContext('2d');
        const spendingChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ chart_labels|safe }},
                datasets: [{
                    label: 'Total Spent',
                    data: {{ chart_totals|safe }},
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock content %}
